@import './colors.scss';

.carousel__prev, .carousel__next {
  background-color: $color-primary;
}

.carousel__prev, .carousel__next, .carousel__icon  {
  width: 1.8rem;
  height: 1.8rem;
}

.carousel__next  {
  right: -15px;
}

.carousel__prev  {
  left: -15px;
}

.carousel__pagination {
  margin-top: 20px;
}

.carousel__pagination-button {
  background-color: $color-dark-s;
  border-radius: 10px;
  height: 10px;
  width: 26px;
}

.carousel__pagination-button--active {
  background-color: $color-primary;
}